body {
  /*grey is my fallback background-color*/
  background-color: grey;
  background-color: HSL(270, 20%, 96%);
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  margin: 0;
  width: 90rem;
}

.left-purple {
  background-color: #D733FF;
  background-color: HSL(276, 55%, 52%);
  background-image: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  border-bottom-left-radius: 15rem;
  border-bottom-right-radius: 25rem;
  height: 58.75rem;
  position: relative;
  right: 2.5rem;
  width: 25rem;
}

.arrow {
  border: solid white;
  border-width: 0 0.1875rem 0.1875rem 0;
  display: inline-block;
  padding: 0.1875rem;
}

.left {
  left: 1.5625rem;
  position: relative;
  bottom: 5rem;
  transform: rotate(135deg);
}

.phone-exterior {
  background-color: white;
  background-color: hsl(0, 0%, 100%);
  border-radius: 1.5625rem;
  height: 49.0625rem;
  left: 18.75rem;
  position: absolute;
  padding-left: 12.5rem;
  top: 7.5rem;
  width: 13.125rem;
}

.phone-interior {
  background-color: grey;
  background-color: HSL(270, 20%, 96%);
  border-radius: 1.25rem;
  height: 47.5rem;
  padding-right: 11.875rem;
  position: absolute;
  right: 0.625rem;
  top: 0.625rem;
  width: 12.5rem;
}

.final {
  position: relative;
  top: 5.625rem;
}

.top-purple {
  background-image: linear-gradient(to right, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
  border-radius: 1.25rem;
  bottom: 1.25rem;
  height: 4.375rem;
  padding: 0 13.125rem 1.25rem 0;
  position: relative;
  width: 11.25rem;
}

.semi-top {
  background-color: white;
  background-color: hsl(0, 0%, 100%);
  border-radius: 3.125rem;
  bottom: 9.6875rem;
  height: 1.875rem;
  left: 5.625rem;
  position: relative;
  width: 12.5rem;
}

.profile {
  bottom: 8.4375rem;
  height: 1.8125rem;
  left: 2.875rem;
  position: relative;
  width: 1.875rem;
}

.name {
  color: white;
  color: hsl(0, 0%, 100%);
  left: 5.3125rem;
  position: relative;
  top: 2.1875rem;
  width: 8.75rem;
}

.circle {
  border-color: white;
  border-color: hsl(0, 0%, 100%);
  border-radius: 6.25rem;
  border-style: solid;
  bottom: 3.4375rem;
  height: 1.8125rem;
  left: 2.6875rem;
  padding: 0 0.0625rem;
  position: relative;
  width: 1.8125rem;
}

.available {
  color: white;
  color: hsl(0, 0%, 100%);
  border-color: white;
  border-color: hsl(0, 0%, 100%);
  border-style: none dotted none none;
  border-width: 0.3125rem;
  left: 5.3125rem;
  padding: 0.3125rem 0;
  position: relative;
  top: 0.3125rem;
  width: 17.1875rem;
}

.messagesLeft {
  color: violet;
  color: hsl(276, 55%, 52%);
}

.purpleText {
  background-color: grey;
  background-color: hsl(206, 6%, 90%);
  border-radius: 0.9375rem;
  bottom: 6.25rem;
  left: 0.625rem;
  margin-bottom: 0.625rem;
  padding: 0.0625rem 0.625rem;
  position: relative;
  width: 13.4375rem;
}

.messagesRight {
  color: violet;
  color: hsl(271, 15%, 43%);
  left: 11.25rem;
  position: relative;
  top: 9.6875rem;
}

.blackTextOne {
  background-color: white;
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.625rem;
  position: relative;
  right: 1.875rem;
  width: 14.6875rem;
}

.blackTextTwo {
  background-color: white;
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.625rem;
  left: 3.4375rem;
  position: relative;
  width: 9.0625rem;
}

.afterPictureText {
  padding: 0.1875rem;
}

.lastQuestion {
  padding: 0.3125rem;
}

.imagesRow {
  display: inline-block;
  position: relative;
  top: 10rem;
  width: 21.25rem;
}

.dog {
  border-radius: 0.625rem;
  height: 4.0625rem;
  left: 8.4375rem;
  margin: auto 0.1875rem;
  position: relative;
  top: 0.3125rem;
  width: 4.6875rem;
}

.bottom {
  background-image: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  border-radius: 0.625rem;
  height: 2.5rem;
  margin: 0.9375rem;
  padding: 0.3125rem;
  position: relative;
  top: 16.25rem;
  width: 16.875rem;
}

.bottomText {
  bottom: 1.5625rem;
  color: white;
  color: hsl(0, 0%, 100%);
  left: 2.5rem;
  position: relative;
}

.Price {
  bottom: 4.375rem;
  color: white;
  color: hsl(0, 0%, 100%);
  left: 12.5rem;
  position: relative;
}

.radioButton {
  background-color: purple;
  background-color: hsl(293, 100%, 63%);
  border-color: purple;
  border-color: hsl(289, 100%, 72%);
  border-radius: 100%;
  border-style: solid;
  height: 0.9375rem;
  left: 0.625rem;
  position: relative;
  top: 0.5625rem;
  width: 0.9375rem;
}

.messageField {
  background-color: white;
  border-radius: 1.5625rem;
  height: 1.25rem;
  left: 0.625rem;
  padding: 0.9375rem;
  position: relative;
  top: 16.25rem;
  width: 20rem;
}

.submitButton {
  background-color: violet;
  background-color: hsl(271, 36%, 24%);
  border-radius: 100%;
  border-style: solid;
  height: 2.1875rem;
  left: 20.625rem;
  position: relative;
  top: 12.5rem;
  width: 2.1875rem;
}

.right {
  border-radius: 0.125rem;
  height: 0.3125rem;
  left: 0.5rem;
  position: relative;
  top: 0.625rem;
  transform: rotate(310deg);
  width: 0.3125rem;
}

.messageField {
  color: grey;
  padding-left: 1.875rem;
  position: relative;
}

.textDescription {
  left: 17.8125rem;
  position: relative;
  top: 16.25rem;
  width: 28.125rem;
}

.simpleBooking {
  color: purple;
  color: hsl(271, 36%, 24%);
}

#paragraph {
  color: grey;
  color: hsl(270, 7%, 64%);
}

.rightPurple {
  background-color: grey;
  background-color: hsl(270, 20%, 94%);
  border-top-left-radius: 21.875rem;
  bottom: 9.375rem;
  height: 50rem;
  left: 41.875rem;
  margin-right: 0;
  position: relative;
  width: 16.875rem;
  /*Using the below z-index made the content written in the other div go on top
  of the almost invisible shape on the right of the screen.*/
  z-index: -1;
}
